<div>
  <img src="../../../assets/Imagens/W8_menu.png" class="ml-1">
  
  <button mat-button [matMenuTriggerFor]="menuAgendamento">Agendamento</button>
  <mat-menu #menuAgendamento="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuClientes">Clientes</button>
  <mat-menu #menuClientes="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuProfissionais">Profissionais</button>
  <mat-menu #menuProfissionais="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuServicos">serviços</button>
  <mat-menu #menuServicos="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuCaixa">Caixa</button>
  <mat-menu #menuCaixa="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuEstoque">Estoque</button>
  <mat-menu #menuEstoque="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuGerencial">Gerencial</button>
  <mat-menu #menuGerencial="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuMarketing">Marketing</button>
  <mat-menu #menuMarketing="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  
  
  <button mat-button [matMenuTriggerFor]="menuFerramentas">Ferramentas</button>
  <mat-menu #menuFerramentas="matMenu">
    <button mat-menu-item>Cidades</button>
    <button mat-menu-item>Instituições bancárias</button>
  </mat-menu>  
  
</div>